    <div class="col-sm athlete-container" data-aos="flip-left">
      <div class="ath-img">
      <a href="/athlete/{{id}}">
      <img src="/images/athletes/{{pic_title}}.jpg" />
      </a>
      </div>
      <div class="title">
        <span>
            <h1 class="h1-post" style="font-size: 20px;">{{ath_name}}</h1>
        </span>
      </div>
      <div class = "content">
          <p class="p-post" style="font-size: 14px;">{{ath_desc}}</p>
      </div>
    </div>