<div class="slider">
        <img src="/images/web-images/slider4.JPG">
    </div>
<div class="info1">
    <div class="row">
        <div class="col-md">
            <div class="about-more">
                <h1>
                    Next Episode Sports Agency <br><br>
                </h1>
                <h2>
                    Honest, Dedicated Athlete Representation
                </h2>
                <p>
                    Next Episode Sports Agency, LLC is a full service sports management group located in South Florida. <br><br>We specialize in the representation of athletes and handle their legal, contractual, tax, financial planning and marketing needs. <br><br>We have over 20 years of experience in contractual law and tax and financial planning.   During this time we have made long standing relationships with many individuals and businesses that sign our high school and college athletes to NIL deals.  
                </p>
                <div class="text-center">
                    <a href="/about-us">
                        <button class="btn-main">Learn More</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md">
        <div class="about-us-image">
                <img src="/images/web-images/soccer-player.png" />
        </div>
        </div>
        <div class="icon-list">
            <div class="icon-container">
                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm" >
                        <div class="text-center">
                            <i class="fa-solid fa-user-shield fa-5x"></i>
                        </div>
                        <h1 class="h1-con text-center">Lorem ipsum dolor sit</h1>
                        <p class="p-con">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="text-center">
                            <a href="/our-services">
                                <button class="btn-main" style="width: 130px; height: 45px; font-size: 13px;">Learn More</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-5x"></i>
                            <h1 class="h1-con text-center">Lorem ipsum dolor sit</h1>
                        </div>
                        <p class="p-con">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="text-center">
                            <a href="/our-services">
                            <button class="btn-main" style="width: 130px; height: 45px; font-size: 13px;">Learn More</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="text-center">
                        <i class="fa-solid fa-clipboard-list fa-5x"></i>
                    </div>
                        <h1 class="h1-con text-center">Lorem ipsum dolor sit</h1>
                        <p class="p-con">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="text-center">
                            <a href="/blog">
                                <button class="btn-main" style="width: 130px; height: 45px; font-size: 13px;">Learn More</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="text-center">
                            <i class="fa-solid fa-calendar-xmark fa-5x"></i>
                        </div>
                        <h1 class="h1-con text-center">Lorem ipsum dolor sit</h1>
                        <p class="p-con">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="text-center">
                            <a href="/contact">
                                <button class="btn-main" style="width: 130px; height: 45px; font-size: 13px;">Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>