<div class="slider">
        <img src="/images/web-images/slider4.JPG">
    </div>
<div class="info1">
    <div class="row">
        <div class="col-md">
            <div class="about-more">
                <h1>
                    Next Episode Sports Agency <br><br>
                </h1>
                <h2>
                    Honest, Dedicated Athlete Representation
                </h2>
                <p>
                    Next Episode Sports Agency, LLC is a full service sports management group located in South Florida. <br><br>We specialize in the representation of athletes and handle their legal, contractual, tax, financial planning and marketing needs. <br><br>We have over 20 years of experience in contractual law and tax and financial planning.   During this time we have made long standing relationships with many individuals and businesses that sign our high school and college athletes to NIL deals.  
                </p>
                <div class="text-center">
                    <a href="/our-athletes">
                        <button class="btn-main">Our Athletes</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md">
        <div class="about-us-image">
                <img src="/images/web-images/soccer-player.png"  data-aos="fade-right"/>
        </div>
        </div>
        </div>
        <div class="info-boxes">
        <div class="row">
            <div class="col-sm">
                <div class="info-box" style="background-color: #004c6d;">
                    <h1 class="h1-small">Lorem ipsum dolor</h1>
                    <p class="p-small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="/contact">
                        <button class="btn-small">Schedule a call</button>
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="info-box" style="background-color: #006691;">
                    <h1 class="h1-small">Lorem ipsum dolor</h1>
                    <p class="p-small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="/contact" class="text-center">
                        <button class="btn-small">Schedule a call</button>
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="info-box" style="background-color: #007eb4;">
                    <h1 class="h1-small">Lorem ipsum dolor</h1>
                    <p class="p-small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="/contact">
                        <button class="btn-small">Schedule a call</button>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="why-section2">
            <h1 class="h1-main" style="color: var(--primary); padding-bottom: 30px;">
                WHAT WE DO
            </h1>
                <div class="row">
                    <div class="col-md">
                        <div class="wwd-list">
                    <li>
                        <p>
                            <i class="fa-solid fa-magnifying-glass-location fa-2x"></i></i>

                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Assistance in navigating NIL opportunities compliantly
                        </p>
                        <p>
                            <i class="fa-solid fa-handshake fa-2x"></i>
                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Partnerships with businesses and projects that help support student-athletes through NIL
                        </p>
                        <p>
                            <i class="fa-solid fa-file-signature fa-2x"></i>
                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Contract negotiation
                        </p>
                        <p>
                            <i class="fa-solid fa-comments-dollar fa-2x"></i>
                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Financial education
                        </p>
                        <p>
                            <i class="fa-solid fa-file-circle-plus fa-2x"></i>
                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Tax and estate planning
                        </p>
                        <p>
                            <i class="fa-solid fa-magnifying-glass-dollar fa-2x"></i>
                        </p>
                        <p class="p-list-last" style="color: var(--primary);">
                            Insurance and financial planning
                        </p>
                    </li>
                    </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center">
                            <img class="handshake-img" src="/images/web-images/handshake.jpg" style="margin: 20px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.535);" alt="Next Episode Business Meeting"/>
                        </div>
                    </div>
                </div>
            <div class="text-center">
                <a href="/contact">
                    <button class="btn-main">Contact Us</button>
                </a>
            </div>
        </div>
        <div class="meet-team">
            <h1 class="h1-main2">MEET OUR DEDICATED TEAM</h1>
            <div class="row">
                <div class="col-md" align="center">
                    <div class="team-card" data-aos="flip-left">
                        <img src="/images/uploaded-images/rsanchez@gmail.com.jpg"/>
                        <h1>
                            Ricky Sanchez
                        </h1>
                        <p>
                            "born and raised in Columbia, after moving to the United States I set on a new career path of athlete legal representation. Fast forward 5 years, I now have 3 Nobel Peace prizes as well as 6 academy awards. Life is good!"
                        </p>
                        <div class="team-card-icons">
                            <a href="">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md" align="center">
                    <div class="team-card" data-aos="flip-left">
                        <img src="/images/uploaded-images/jacobiscool24@yahoo.com.jpg"/>
                        <h1>
                            Jacob Zhin
                        </h1>
                        <p>
                            "I specialize in logo design, branding, web design and offer design services to businesses of all sizes around the world, ultimately improving their bottom line by crafting creative solutions to their business problems. Shoot me a quick email to see how I can help you!"
                        </p>
                        <div class="team-card-icons">
                            <a href="">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md" align="center">
                    <div class="team-card" data-aos="flip-left">
                        <img src="/images/uploaded-images/kaylaisawesome@gmail.com.jpg"/>
                        <h1>
                            Jenny Higgins
                        </h1>
                        <p>
                            "from the marketing world, Jenny has her awesome manner of telling things about herself without bragging too much. She has got the credentials to build a lengthy list but as she keeps it short and smart to keep the audience interested in her."
                        </p>
                        <div class="team-card-icons">
                            <a href="">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md" align="center">
                    <div class="team-card" data-aos="flip-left">
                        <img src="/images/uploaded-images/ericrocks2000@gmail.com.jpg"/>
                        <h1>
                            Eric Cili
                        </h1>
                        <p>
                            "a dedicated Web Developer with a passion of learning as much as I can in a lifetime. My hobbies include anything to do with computers and art/design. After building my own computer when I was 15, I quickly became enthralled with computer science."
                        </p>
                        <div class="team-card-icons">
                            <a href="">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md" align="center">
                    <div class="team-card" data-aos="flip-left">
                        <img src="/images/uploaded-images/wbutler@gmail.com.jpg"/>
                        <h1>
                            Wendy Butler
                        </h1>
                        <p>
                            "being the daughter of world-renowned NFL football star Tom Brady, its no wonder why I persued the path of athlete representation. Knowing fellow athletes like my father are treated fairly in legal matters is my passion!"
                        </p>
                        <div class="team-card-icons">
                            <a href="">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
