<div class="slider">
        <img src="/images/web-images/slider4.JPG">
    </div>
<div class="info1">
    <div class="row">
        <div class="col-md">
            <div class="about-more">
                <h1>
                    Next Episode Sports Agency <br><br>
                </h1>
                <h2>
                    Honest, Dedicated Athlete Representation
                </h2>
                <p>
                    Next Episode Sports Agency, LLC is a full service sports management group located in South Florida. <br><br>We specialize in the representation of athletes and handle their legal, contractual, tax, financial planning and marketing needs. <br><br>We have over 20 years of experience in contractual law and tax and financial planning.   During this time we have made long standing relationships with many individuals and businesses that sign our high school and college athletes to NIL deals.  
                </p>
            </div>
        </div>

        <div class="col-md">
        <div class="about-us-image">
                <img src="/images/web-images/soccer-player.png"  data-aos="fade-right"/>
        </div>
        </div>
        </div>
        <!--
        <div class="info-boxes">
        <div class="row">
            <div class="col-sm">
                <div class="info-box" style="background-color: #004c6d;">
                    <h1 class="h1-small">Lorem ipsum dolor</h1>
                    <p class="p-small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="/contact">
                        <button class="btn-small">Schedule a call</button>
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="info-box" style="background-color: #006691;">
                    <h1 class="h1-small">Lorem ipsum dolor</h1>
                    <p class="p-small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="/contact" class="text-center">
                        <button class="btn-small">Schedule a call</button>
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="info-box" style="background-color: #007eb4;">
                    <h1 class="h1-small">Lorem ipsum dolor</h1>
                    <p class="p-small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <a href="/contact">
                        <button class="btn-small">Schedule a call</button>
                    </a>
                </div>
            </div>
        </div>
        </div>
        -->
        <div class="why-section2">
            <h1 class="h1-main" style="color: var(--primary); padding-bottom: 30px;">
                WHAT WE DO
            </h1>
                <div class="row">
                    <div class="col-md">
                        <div class="wwd-list">
                    <li>
                        <p>
                            <i class="fa-solid fa-magnifying-glass-location fa-2x"></i></i>

                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Assistance in navigating NIL opportunities compliantly
                        </p>
                        <p>
                            <i class="fa-solid fa-handshake fa-2x"></i>
                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Partnerships with businesses and projects that help support student-athletes through NIL
                        </p>
                        <p>
                            <i class="fa-solid fa-file-signature fa-2x"></i>
                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Contract negotiation
                        </p>
                        <p>
                            <i class="fa-solid fa-comments-dollar fa-2x"></i>
                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Financial education
                        </p>
                        <p>
                            <i class="fa-solid fa-file-circle-plus fa-2x"></i>
                        </p>
                        <p class="p-list" style="color: var(--primary);">
                            Tax and estate planning
                        </p>
                        <p>
                            <i class="fa-solid fa-magnifying-glass-dollar fa-2x"></i>
                        </p>
                        <p class="p-list-last" style="color: var(--primary);">
                            Insurance and financial planning
                        </p>
                    </li>
                    </div>
                    </div>
                    <div class="col-md">
                        <div class="text-center">
                            <img class="handshake-img" src="/images/web-images/handshake.jpg" style="margin: 20px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.535);" alt="Next Episode Business Meeting"/>
                        </div>
                    </div>
                </div>
            <div class="text-center">
                <a href="/contact">
                    <button class="btn-main">Contact Us</button>
                </a>
            </div>
        </div>
        <div class="meet-team" id="meet-team">
            <h1 class="h1-main2">MEET OUR DEDICATED TEAM</h1>
            <div class="row">
                <div class="col-md" align="center">
                    <div class="team-card" data-aos="flip-left">
                        <img src="/images/uploaded-images/joe.jpg" alt="Joe Catarineau of Next Episode"/>
                        <h1>
                            Joe A. Catarineau
                        </h1>
                        <p style="font-size: 11px;">
                            "Joe A. Catarineau was born in Miami, FL and attended college at Georgia Southern University, where he graduated with a B.B.A. in Accounting with honors in 1996.  After graduation, Joe passed the uniform CPA examination and worked for a public accounting firm in Statesboro, GA.  He then returned to Miami to work for a public accounting firm and attend the University of Miami School of Law.  Joe earned his law degree in 2001, graduating with honors.  He practiced as a tax attorney in Coral Gables, FL from 2001 through 2004.  In 2004, Joe and his brother, Jason, opened Catarineau & Catarineau, LLC, a tax and accounting firm in Tavernier, Florida. <br> Joe also opened his law firm, Joe A. Catarineau, PA, where he practices in the areas of estate planning, probate and tax law.   Joe is currently a licensed CPA and attorney in the State of Florida, and is licensed to practice before the U.S. Tax Court.  He is a member of the Florida Institute of CPA’s, the Florida Bar and the American Association of Attorney-CPA’s.  "
                        </p>
                        <div class="team-card-icons">
                            <a href="">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md" align="center">
                    <div class="team-card" data-aos="flip-left">
                        <img src="/images/uploaded-images/jason.jpg" alt="Jason Catarineau of Next Episode"/>
                        <h1>
                            Jason O. Catarineau
                        </h1>
                        <p>
                            "Jason O. Catarineau was born in Miami, FL and attended college at Georgia Southern University, where he earned a degree in Finance (B.B.A., Finance, 2001).  After graduation, Jason returned to Miami to work for a public accounting firm. 

Jason opened the public accounting firm, Catarineau & Catarineau, LLC, in 2004 in Tavernier. He also assists his brother’s law firm, Joe A. Catarineau, PA. The accounting firm is a full-service public accounting firm, and the law firm is limited to taxation law, estate planning, wills and trusts, probate and estate administration and business planning."
                        </p>
                        <div class="team-card-icons">
                            <a href="">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md" align="center">
                    <div class="team-card" data-aos="flip-left">
                        <img src="/images/uploaded-images/ricky.jpg" alt="Ricky Johnson of Next Episode"/>
                        <h1>
                            Ricky Johnson
                        </h1>
                        <p style="font-size: 17px;">
                            "Ricky was born in Miami, FL and graduated from South Dade Senior High in 1998. After landing his first job at 18 years old at Captain Carwash, he quickly learned the in's and out's of the car wash business. Shortly after at the age of 20 he opened his first carwash in Key Largo, FL. With hard work and determination, Ricky has now been running a successful business in the Florida Keys for the past 20 years."
                        </p>
                        <div class="team-card-icons">
                            <a href="">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a>
                            <a href="">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
