<div class="slider">
        <img src="/images/web-images/slider2.jpg">
    </div>
<ul class="post-list">
  {{#if loggedIn}}
  <div class="container">
    <div class="login-info">
    <p class="h1-main-login">Logged in as: <br> Administrator
</p>
    <a href="/dashboard"><button class="btn-post-login">New Post</button></a>
    <button id="logout" class="btn-post-login2">Logout</button>
    </div>
    </div>
  {{/if}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  
  {{/each}}
</ul>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}