<div class="slider">
        <img src="/images/web-images/slider2.jpg">
    </div>
<ul class="post-list">
  {{#if loggedIn}}
  <div class="admin-form">
    <div class="login-info">
    <h1 class="h1-main-login">Logged in as: <br> {{user.username}}
</h1>
<div class="row">
  <div class="col-sm">
    <a href="/dashboard"><button class="btn-post-login">New Post</button></a>
    <button id="logout" class="btn-post-login2">Logout</button>
  </div>
  <div class="col-sm">
    <p>Bio:</p>
    <textarea rows="6" style="width: 100%;"></textarea>
  </div>

</div>
    </div>
    </div>
  {{/if}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  
  {{/each}}
</ul>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/edit-user.js"></script>
  {{/if}}