<div class="slider">
        <img src="/images/web-images/slider2.jpg">
    </div>
<ul class="post-list">
  {{#if loggedIn}}
  <div class="admin-form">
    <div class="login-info">
    <h1 class="h1-main-login"><i class="fa-solid fa-user-gear"></i> Logged in
</h1>
  <div class="text-center">
    <a href="/blog/edituser"><button class="btn-post-login" style="background-color: grey;">User Info</button></a>
    <a href="/dashboard"><button class="btn-post-login">New Post</button></a>
    <button id="logout" class="btn-post-login2">Logout</button>

</div>
    </div>
    </div>
  {{/if}}
  {{#each users as |user|}}
  <li>
    {{> user-info post}}
  </li>
  {{/each}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  
  {{/each}}
</ul>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/edit-user.js"></script>
  {{/if}}