<div class="slider">
        <img src="images/web-images/slider5.jpg">
    </div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="contact-form">
            <form action="https://formsubmit.co/ericjcili@gmail.com" method="POST">
                <input type="hidden" name="_subject" value="** New Next Episode Submission Form **">
                <label for="name">NAME *</label> <br>
                <input type="text" name="name" required> <br>
                <label for="name">EMAIL *</label> <br>
                <input type="email" name="email" required> <br>
                <label for="subject">SUBJECT</label> <br>
                <input type="subject" name="subject"> <br>
                <label for="name">HOW CAN WE HELP</label> <br>
                <textarea name="message" rows="10"></textarea> <br>
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="localhost:3001/thank-you">
                <button class="btn-post" type="submit" style="margin-top: -50px;">Send</button>
            </form>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top: 50px;">
            <h1 class="h1-post">Address</h1>
            <p class="p-post">12345 Address Here Suite 123</p>
            <p class="p-post">Miami, FL 33333</p>
            <p class="h1-post">Telephone<br> 
            <p class="p-post"><a class="p-post" href="tel:1234567890" style="opacity: 0.4;">123-456-7890</a></p>
            <p class="h1-post">Email<br> 
            <p class="p-post"><a class="p-post" href="" style="opacity: 0.4;">info@youremail.com</a></p>
            <div class="iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20659.805164825782!2d-80.28157967631553!3d25.86993757479951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ba7c1f7c1205%3A0x6687d4f7a4430f0e!2sMilander%20Park!5e0!3m2!1sen!2sus!4v1658607616568!5m2!1sen!2sus" width="90%" height="200" style="margin: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>                
        </div>
        </div>
    </div>
</div>
