<div class="slider">
        <img src="/images/web-images/slider5.JPG">
    </div>
<div class="contact-container">
    <div class="row">
        <div class="col-md">
            <div class="contact-form">
            <form action="https://formsubmit.co/ericjcili@gmail.com" method="POST">
                <input type="hidden" name="_subject" value="** New Next Episode Submission Form **">
                <label for="name">NAME *</label> <br>
                <input type="text" name="name" required> <br>
                <label for="name">EMAIL *</label> <br>
                <input type="email" name="email" required> <br>
                <label for="subject">SUBJECT</label> <br>
                <input type="subject" name="subject"> <br>
                <label for="name">HOW CAN WE HELP</label> <br>
                <textarea name="message" rows="10"></textarea> <br>
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="localhost:3001/thank-you">
                <button class="btn-post" type="submit" style="margin-top: -50px;">Send</button>
            </form>
            </div>
        </div>
        <div class="col-md" style="margin-top: 50px;">
            <h1 class="h1-post">Address</h1>
            <p class="p-post">91750 Overseas Highway</p>
            <p class="p-post">Tavernier, FL 33070</p>
            <p class="h1-post" style="margin-bottom: 0px;">Telephone<br> 
            <p class="p-contact">Our Office</p>
            <p class="p-post"><a class="p-post" href="tel:3058524833" style="opacity: 0.4;">305-852-4833</a></p>
            <p class="p-contact">Text/Call Ricky</p>
            <p class="p-post"><a class="p-post" href="tel:7862221171" style="opacity: 0.4;">786-222-1171</a></p>
            <p class="h1-post" style="margin-bottom: 0px;">Email<br> 
            <p class="p-contact">Email Joe</p>
            <p class="p-post"><a class="p-post" href="mailto: joe@taxcatcpa.com" style="opacity: 0.4;">joe@taxcatcpa.com</a></p>
            <p class="p-contact">Email Jason</p>
            <p class="p-post"><a class="p-post" href="mailto: jason@taxcatcpa.com" style="opacity: 0.4;">jason@taxcatcpa.com</a></p>
            <div class="iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.7589561014042!2d-80.51877449999999!3d25.0083053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d740ebb4a07ddb%3A0x41476a48bd6d7689!2s91750%20Overseas%20Hwy%2C%20Tavernier%2C%20FL%2033070!5e0!3m2!1sen!2sus!4v1659544364042!5m2!1sen!2sus" width="90%" height="200" style="margin: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>                
        </div>
        </div>
    </div>
</div>
