<section class="row">
  <div class = "column">
    <form class="new-post-form">
        <div class="column">
                <h2 class="h1-con"><i class="fa-solid fa-pen-to-square"></i> Create New Post</h2>
      <div>
        <label for="post-title">Title</label>
        <br>
        <input autocomplete="off" type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-desc">Description</label>
                <br>

        <textarea autocomplete="off" id="post-desc" name="post-desc" contenteditable="true"></textarea>
      </div>
      <div>
        <label for="post-text">Post</label>
                <br>

        <textarea autocomplete="off" id="post-text" name="post-text"></textarea>
      </div>
      <div>
        <label for="post-tags">Tags</label>
                <br>

        <input autocomplete="off" id="post-tags" name="post-tags"></input>
        <i style="font-size: smaller; opacity: 20%"></br>Comma-seperated list</i>
      </div>
      <button type="submit" class="btn-post">Create</button>
      </div>
    </form>
  </div>
</div>
</section>

<script src="/javascript/add-post.js"></script>