<div class="slider">
        <img src="images/web-images/slider.JPG">
        <a href="/our-services">
            <button class="btn-slide">OUR SERVICES</button>
        </a>
    </div>
    <div class="info1">
        <div class="learn-more">
            <h1 class="h1-main">
                Next Episode Sports Agency is a one stop shop of experienced attorney-agents
            </h1>
            <p class="p-main">
                Next Episode Sports Agency, LLC is a full service sports management group located in South Florida. We specialize in the representation of athletes and handle their legal, contractual, tax, financial planning and marketing needs. We have over 20 years of experience in contractual law and tax and financial planning.   During this time we have made long standing relationships with many individuals and businesses that sign our high school and college athletes to NIL deals.  
            </p>
            <p class="p-main">
                We are also partnered with Athlete Education Foundation, Inc., a 501(c)(3) organization that educates high school and college athletes on how to manage money, pitfalls to avoid in hiring professionals and other financial related matters. The charity has former college and professional athletes as well as attorneys and accountants on its board with years of experience in all financial matters pertaining to athletes. 
            </p>
            <div class="text-center">
                <a href="/about-us">
                    <button class="btn-main">Learn More</button>
                </a>
            </div>
        </div>
        <div class="icon-list">
            <div class="icon-container">
                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm" >
                        <div class="text-center">
                            <i class="fa-solid fa-user-shield fa-5x"></i>
                        </div>
                        <h1 class="h1-con text-center">Lorem ipsum dolor sit</h1>
                        <p class="p-con">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="text-center">
                            <a href="/about-us">
                                <button class="btn-main" style="width: 130px; height: 45px; font-size: 13px;">Learn More</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="text-center">
                            <i class="fa-solid fa-users fa-5x"></i>
                            <h1 class="h1-con text-center">Lorem ipsum dolor sit</h1>
                        </div>
                        <p class="p-con">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="text-center">
                            <a href="/our-athletes">
                            <button class="btn-main" style="width: 130px; height: 45px; font-size: 13px;">Learn More</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="text-center">
                        <i class="fa-solid fa-clipboard-list fa-5x"></i>
                    </div>
                        <h1 class="h1-con text-center">Lorem ipsum dolor sit</h1>
                        <p class="p-con">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="text-center">
                            <a href="/blog">
                                <button class="btn-main" style="width: 130px; height: 45px; font-size: 13px;">Learn More</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="text-center">
                            <i class="fa-solid fa-calendar-xmark fa-5x"></i>
                        </div>
                        <h1 class="h1-con text-center">Lorem ipsum dolor sit</h1>
                        <p class="p-con">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <div class="text-center">
                            <a href="/contact">
                                <button class="btn-main" style="width: 130px; height: 45px; font-size: 13px;">Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="why-section">
            <h1 class="h1-main" style="color: var(--secondary);">
                WHY CHOOSE NEXT EPISODE
            </h1>
            <p class="p-main" style="color: var(--secondary);">
                Our intimate client relations & attention to detail sets Next Episode apart from the rest
            </p>
                <div class="row">
                    <div class="col-md">
                    <li>
                        <p class="p-list" style="color: var(--secondary);">
                            <i class="fa-solid fa-check"></i>
                            Assistance in navigating NIL opportunities compliantly
                        </p>
                        <p class="p-list" style="color: var(--secondary);">
                            <i class="fa-solid fa-check"></i>
                            Partnerships with businesses and projects that help support student-athletes through NIL
                        </p>
                        <p class="p-list" style="color: var(--secondary);">
                            <i class="fa-solid fa-check"></i>
                            Contract negotiation
                        </p>
                        <p class="p-list" style="color: var(--secondary);">
                            <i class="fa-solid fa-check"></i>
                            Financial education
                        </p>
                        <p class="p-list" style="color: var(--secondary);">
                            <i class="fa-solid fa-check"></i>
                            Tax and estate planning
                        </p>
                        <p class="p-list-last" style="color: var(--secondary);">
                            <i class="fa-solid fa-check"></i>
                            Insurance and financial planning
                        </p>
                    </li>
                    </div>
                    <div class="col-md">
                        <div class="text-center">
                            <img src="/images/web-images/meeting.jpg" style="height: 280px; margin: 20px; border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.535);" alt="Next Episode Business Meeting"/>
                        </div>
                    </div>
                </div>
            <div class="text-center">
                <a href="/contact">
                    <button class="btn-main">Contact Us</button>
                </a>
            </div>
        </div>
        <div class="our-athletes">
        <h1 class="h1-main" style="margin-top: 20px;">Our athletes</h1>
        <p class="p-main">These Next Episode Athletes are either currently represented or have been represented by our agents for their contractual negotiations, marketing and endorsements, and/or legal needs.</p>
    </div>
            <div class="athlete-list">
    <div class="row">
  {{#each athletes as |athlete|}}
    {{> athlete-info athlete}}
  {{/each}}
    </div>  
    </div>
    <div class="our-ath-footer">
      <h1 class="h1-main" style="font-size: 50px;">Join the list</h1>
      <p class="p-main">Our certified contract advisors are ready to take your career to the next level</p>
      <div class="text-center">
                            <a href="/contact">
                                <button class="btn-main" style="width: 140px; height: 45px; font-size: 13px;">contact us</button>
                            </a>
                        </div>
    </div>
    </div>