<div class="text-center">
<form class="login-form">
    <label for="email-login">Email:</label>
    <br>
    <input type="text" id="email-login" />
    <br>
    <label for="password-login">Password:</label>
    <br>
    <input type="password" id="password-login" />
    <br>
    <button class="btn-post" type="submit">Login</button>
</form>
<div>
  <b class="signup">Don't have an account?</b>
  <a class="btn1" href="/signup">Sign Up</a>
</div>
</div>

<script src="/javascript/login.js"></script>