<div class="text-center">
<form class="signup-form">
  <div>
    <label for="username-signup">Your Name:</label>
    <br>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">E-mail:</label>
        <br>

    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
        <br>

    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn-post" type="submit">Sign up</button>
  </div>
</form>

<a class="btn2" href="/login">Log-in to an existing account</a>

</div>

<script src="/javascript/signup.js"></script>
