{{> post-full-info post}}
{{#if loggedIn}}
<div class="text-center">
      <div class="edit-btn">
     <a href="/post/edit/{{post.id}}">
      <button class="edit-btn-post">Edit Post
      </button>
      </a>
      </div>
      </div>
      {{/if}}