{{> post-full-info post}}
{{#if loggedIn}}
<div class="text-center">
      <div class="edit-btn">
     <a href="/post/edit/{{post.id}}">
      <button class="edit-btn-post">Edit Post
      </button>
      </a>
      <p style="font-style: italic;">Note: To upload new profile image: upload photo into /images/uploaded-images and title the image "your email".jpg.<br>Example: your@email.com.jpg</p>
      </div>
      </div>
      {{/if}}