* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #001427;
  --sddssdds: #007eb4;
  --secondary: rgb(236, 236, 236);
  --button: #708D81;
  --fill: #b20900;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;

}

body {
  background-color: rgb(236, 236, 236);
  margin: 0 auto;
}

.logo img {
  width: 150px;
  margin-top: -40px;
}
.logo-header img {
  padding: 10px;
  width: 50px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.logo-header img:hover {
  transition: ease 0.5s;
  width: 57px;
  transform: translate(-3px, -3px);

}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3vh;
  background-color: var(--fill);
}

.learn-more {
  padding-left:70px;
  padding-right:70px;
}
.about-more {
  padding: 7%;
  text-align: left;
  min-width: 500px;
}
.about-more h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 37px;
  margin-top: 25px;
  margin-bottom: -20px;
}
.about-more h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.about-more p {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  padding-bottom: 20px;
 line-height: 30px;
}

.socials i {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
nav {
  display: flex;
  padding-top: 5px;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: var(--primary);
  font-family: 'Poppins', sans-serif;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.nav-links li {
  list-style: none;
}
.nav-links span {
  border-bottom: 2px solid var(--secondary);
}

.nav-links a {
  color: var(--secondary);
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-links a:hover {
  color: rgb(176, 176, 176);
  text-shadow: 10px;
}
.burger {
  display: none;
  cursor: pointer;
}
.post-header{
  width: 100%;
  background-color: rgb(227, 227, 227);
  border-bottom: solid rgba(0, 0, 0, 0.141) 1px;
}
.post-header a {
  color: var(--primary);
  opacity: 0.7;
  text-decoration: none;
}
.post-header i {
  opacity: 0.7;
  margin-left: 5px;
  margin-right: 5px;
}
.post-header p {
  padding:35px;
  margin-bottom: 0px;
  color: var(--primary);
  text-decoration: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--secondary);
  margin: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btn-slide {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  font-weight:bold;
  color: var(--primary);
  background-color:var(--button);
  position: sticky;
  left: 21%;
  bottom: 10%;
  transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--button);
  color: var(--primary);
  min-block-size: 17px;
  font-size: 2.5vw;
  padding: 9px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;     
}
.btn-slide:hover{
  background-color: rgb(0, 83, 77);
  transition: 0.2s ease;
  box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.slider img {
  width: 100vw;
}
.h1-main {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
.h1-main2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
.h1-small {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--secondary);
  text-transform: capitalize;
  font-size: 30px;
  text-align: left;
  padding: 10px;
  padding-top: 20px;
}
.admin-form h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--secondary);
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
.p-main {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 25px;
}
.info-box {
  padding-left: 40px;
  padding-right: 40px;
}
.p-small {
  font-family: 'Poppins', sans-serif;
  color: var(--secondary);
  font-size: 13px;
  text-align: left;
}
.why-section {
  padding-top: 30px;
  background-image: url("../images/web-images/why-image.jpg");
  background-size: cover;
}
.why-section li{
  list-style: none;
}
.why-section2 {
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("../images/web-images/soccer-field.jpg");
  background-size: cover;
}
.why-section2 li{
  list-style: none;
}
.why-section2 p {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-size: 17px;
  padding-left: 3vw;
}
.why-section2 i {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.wwd-list {
  min-width: 300px;
}
.p-list {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
  padding-left: 3vw;
}
.p-contact {
  font-family: 'Poppins', sans-serif;
  margin-bottom: -5px;

}
.p-list:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-right: 10%;
  width: 90%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1.5px solid var(--primary);
}
.p-list-last {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 17px;
  padding-left: 3vw;
  padding-bottom: 50px;
}
.meeting-image {
  padding-bottom: 50px;

}
.btn-main {
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  color: var(--primary);
  background-color:var(--button);
  color: var(--primary);
  font-size: 25px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;   
  margin-bottom: 50px;
}
.btn-small {
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  color: var(--primary);
  background-color: var(--secondary);
  color: var(--primary);
  font-size: 15px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;   
  margin-bottom: 50px;
}
.btn-post:hover{
  background-color: rgb(0, 83, 77);
  transition: 0.2s ease;
  box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.btn-post-login {
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  color: var(--primary);
  background-color: var(--button);
  color: var(--primary);
  font-size: 15px;
  padding: 12px 12px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;   
  width: 200px;
}
.btn-post-login2 {
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  color: var(--primary);
  background-color: rgb(255, 76, 31);
  color: var(--primary);
  font-size: 15px;
  padding: 12px 12px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;   
  width: 200px;
}
.btn-post {
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  color: var(--primary);
  background-color: var(--button);
  color: var(--primary);
  font-size: 15px;
  padding: 12px 24px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;   
  width: 200px;
  margin-bottom: 50px;
}
.btn-post2 {
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  color: var(--primary);
  background-color: rgb(255, 76, 31);
  color: var(--primary);
  font-size: 15px;
  padding: 12px 24px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;   
  width: 200px;
  margin-bottom: 50px;
}
.delete-post-btn {
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  color: var(--primary);
  background-color: rgb(255, 76, 31);
  color: var(--primary);
  font-size: 15px;
  padding: 12px 24px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;   
  width: 200px;
  margin-bottom: 50px;
}
.edit-btn-post {
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius: 15px;
  border-style: none;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  text-transform:uppercase;
  color: var(--primary);
  background-color: rgb(145, 145, 145);
  color: var(--primary);
  font-size: 15px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;   
  width: 200px;
  margin-bottom: 20px;
}
.btn-post2:hover{
  background-color: rgb(170, 0, 0);
  transition: 0.2s ease;
  box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.btn-main:hover{
  background-color: rgb(0, 83, 77);
  transition: 0.2s ease;
  box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.icon-list {
  display: flex;
  justify-content: space-between;
  background-color: rgb(210, 210, 210);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
.col-sm {
  min-width: 250px;
}
.info-boxes .col-sm {
  width: 110%;
  margin-left: -15px;
  margin-right: -15px;
}
.row {
  width: auto;
}
.icon-container {
  margin: 10px;
}
.contact-container {
  margin: 5vw;
}
.post-container {
  margin-left: 10%;
  margin-right: 10%;
}
.athlete-container {
  text-align: center;
  margin: 50px;
}
.athlete {
  padding: 18px;
  border-radius: 20px;
  background-color: var(--seondary);
  padding-bottom: 20px;
}
.athlete-container img {
  width: 380px;
  height: 380px;
  margin-left: -50px;
  object-fit: cover;
  border: 1px solid black;
  margin-bottom: 10px;
}
@media screen and (max-width:1400px){
.athlete-container img {
  width: 250px;
  height: 250px;
  margin-left: 0px;
}
.athlete-container {
  margin: 20px;
}
}
.quick-links {
  list-style: none;
}
.quick-links li {
  margin-bottom: 15px;
}
.quick-links li:hover {
  opacity: 0.7;
}
.athlete-container img:hover {
  transition: ease 0.5s;
  opacity: 0.4;

}
.full-ath-pic {
  width: 550px;
  height: 400px;
  object-fit: cover;
  border: 1px solid black;
  margin-bottom: 10px;

}
.athlete-list {
  padding-top: 30px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(203, 203, 203);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.our-ath-footer {
  padding-top: 60px; 
  padding-bottom: 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.full-post-container {
  margin-left: 10%;
  margin-right: 10%;
}
.footer-container {
  margin: 2%;
}
.col-sm i {
  margin: 10px;
  margin-top: 20px;
}
.h1-con {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
  color: var(--primary);


}
.user-info  {
  background-color: rgb(203, 203, 203);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.535);
  transition: 0.3s;
  margin-bottom: 40px;
  max-width: 900px;
}
.meet-team {
  padding-top: 20px;
  padding: 5%;
  background-color: var(--secondary);
}
.meet-team .col-md {
  margin: 10px;
}
.handshake-img {
  max-height: 300px;
}
.team-card  {
  position: relative;
  background-color: rgb(203, 203, 203);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.535);
  max-width: 700px;
  min-width: 300px;
  height: 100%;
}
.team-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 100px;
  filter: drop-shadow(0 0 7px var(--primary));
}
.team-card h1 {
  font-size: 26px;
  font-weight: bold;

  font-family: 'Poppins', sans-serif;
}
.team-card p {
  font-size: 15px;
  font-style: italic;
  opacity: 0.7;
  margin-bottom: 30px;

  font-family: 'Poppins', sans-serif;
}
.team-card-icons {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  font-size: 15px;
  margin-bottom: 10px;
  color: black;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
}
.user-info:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.535);

}
.user-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: auto;
  margin-top: 5%;
  float: left;
  border-radius: 100px;
  border: 1px solid var(--primary);
  filter: drop-shadow(0 0 7px var(--primary));
}
.user-info h1 {
  padding-left: 30px;

  font-size: 23px;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
.user-info p {
  padding-left: 30px;
  font-size: 15px;
  font-style: italic;
  opacity: 0.7;
  font-family: 'Poppins', sans-serif;
}
.user-info-icons {
  padding-left: 30px;
  font-size: 15px;
  color: black;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
}
.fa-brands {
  color: #001427;
  margin-right: 20px;
}
.login-form input {
  margin-bottom: 20px;
  width: 250px;
}
.signup-form input {
  margin-bottom: 20px;
  width: 250px;
}
.admin-form {
  margin: 30px;
}
.admin-form p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--secondary);
}
.admin-form button {
  margin: 30px;
}
.p-con {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: var(--primary);
  text-align: center;
  padding-bottom: 10px;
}
.about-us-image img {
  object-fit: contain;
  width: auto;
  position: absolute; 
  bottom: 0;
  margin-left: 15%
}
.footer {
  background-color: var(--primary);
  padding: 70px;
  padding-top: 60px;
}
.p-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: var(--secondary);
  opacity: 0.7;
}

.p-info {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}
.p-info2 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-top: -10px;
  color: var(--secondary);
  opacity: 0.7;
}
.p-info2:after {
  content: "";
  display: block;
  margin: 0;
  width: 50%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--secondary);
  opacity: 0.3;
  margin-bottom: 15px;
}
.top-p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: var(--secondary);
  opacity: 0.7;
}
.top-p:before {
  content: "";
  display: block;
  margin: 0;
  width: 50%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--secondary);
  opacity: 0.3;
  margin-bottom: 15px;
}
.p2-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: italic;
  color: var(--secondary);

}
.new-post-form{
  margin: 40px;
}
.new-athlete-form{
  margin: 40px;
}
.edit-user-form{
  margin: 40px;
}
.p-post-full {
  white-space: pre-line;
}
.p2-tags-full {
  white-space: pre-line;
}
.contact-form {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}
.contact-form input {
  width: 90%;
  margin-bottom: 30px;
  padding: 10px;
}
.contact-form textarea {
  padding: 10px;
  width: 90%;
  height: 200px;
  margin-bottom: 30px;
}
.p2-footer:after {
  content: "";
  display: block;
  margin: 0;
  width: 50%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--secondary);
  opacity: 0.3;
}
.h1-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color: var(--secondary);
  margin-bottom: 35px;
  margin-top: 30px;
}
.footer a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--secondary);
}
.iframe {
  margin-top: 35px;
}
.footer-btm {
  background-color: var(--fill);
}
a:hover {
  text-decoration: none;
}
.post-list {
  background-color: var(--secondary);
  margin-top: -20px;
  padding-top: 40px;
}
.post {
  padding: 18px;
  border-radius: 20px;
  background-color: var(--seondary);
  padding-bottom: 20px;
}

.post2 {
  padding: 18px;
  border-radius: 20px;
  padding-bottom: 50px;
  color: var(--primary);
}

.h1-post {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: var(--pprimary);
  text-decoration: none;
}
.h1-login {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: var(--primary);
  text-decoration: none;
}
.h2-post {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--button);
  font-style: italic;
  text-decoration: none;
  margin-bottom:-20px;
}
.h2-post:hover {
  opacity: 0.7;
}
.h2-post:after {
  content: "";
  display: block;
  padding-bottom: 40px;
  margin: 0;
  width: 96%;
  border-bottom: 1.5px solid var(--primary);
}
.p-post {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--primary);
}
.p2-post {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: var(--primary);
  opacity: 0.7;
  margin-bottom: -10px;

}
.post-full {
  padding:15px;
}
.h1-post-full {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  margin-top: 30px;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;
}
.p-post-full {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--primary);
}
.p2-post-full {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: var(--primary);
  opacity: 0.7;
  margin-bottom: -10px;

}
.login-info {
  display:grid;
  padding: 30px;
  background-color: var(--primary);
  border-radius: 20px;
  margin-bottom: 20px;
}

.p2-tags-full {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: italic;
  color: var(--primary);
  opacity: 0.7;
}
.login-form {
  margin: 100px;
  font-family: 'Poppins', sans-serif;
}
.signup-form {
  margin: 100px;
  font-family: 'Poppins', sans-serif;
}
.new-post-form {
  margin: 60px;
  font-family: 'Poppins', sans-serif;
}
.new-post-form input {
  width: 70vw;
  margin-bottom: 30px;
  padding: 10px;
}
.new-post-form textarea {
  padding: 10px;

  width: 70vw;
  height: 200px;
  margin-bottom: 30px;
}
.new-athlete-form {
  margin: 60px;
  font-family: 'Poppins', sans-serif;
}
.new-athlete-form input {
  width: 70vw;
  margin-bottom: 30px;
  padding: 10px;
}
.new-athlete-form textarea {
  padding: 10px;

  width: 70vw;
  height: 200px;
  margin-bottom: 30px;
}
.edit-user-form {
  margin: 60px;
  font-family: 'Poppins', sans-serif;
}
.edit-user-form input {
  width: 70vw;
  margin-bottom: 30px;
  padding: 10px;
}
.edit-user-form textarea {
  padding: 10px;

  width: 70vw;
  height: 200px;
  margin-bottom: 30px;
}

@media screen and (max-width:900px){
  .nav-links li {
      opacity: 0;
      margin-bottom: 30px;
  }
  .burger {
      display: block;
  }
  .btn-slide {
    transform: translate(-50%, -140%);
    -ms-transform: translate(-50%, -50%);
  }
  .logo img {
    width: 100px;
}
  .nav-links {
      position: absolute;
      right: 0px;
      height: 100vh;
      top: 80px;
      width: 30vh;
      background-color: var(--primary);
      display: none;
      padding-top: 100px;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      justify-content:right;
  }
  .learn-more {
    padding-left:10px;
    padding-right:10px;
  }
}

@media screen and (max-width:1000px){
  .about-us-image img {
    width: auto;
    position: relative;
    margin-left: 25%;

  }
}
@media screen and (max-width:700px){
  .about-us-image img {
    top: 0;
    width: 300px;
  }
  .handshake-img {
    max-height: 250px;
  }
  .full-ath-pic {
    width: 450px;
    height: 300px;
  }
}
@media screen and (max-width:575px){
  .athlete-container img {
    width: 90%;
    height: 300px;
  }
  .full-ath-pic {
    width: 350px;
    height: 350px;
  }

}

@media screen and (max-width:480px){
  .header-top {
      display: none;
   }
  .nav-links {
      margin-top: -10px;
  }
  .footer {
      padding: 30px;
  }
  .user-info img {
    float: none;
  }
  .about-more {
    min-width: 300px;
  }
  .handshake-img {
    max-height: 200px;
  }
  .about-us-image img {
    margin-left: 15%;

  }
  .full-ath-pic {
    width: 300px;
    height: 300px;
  }
}

.nav-active {
  z-index: 100;
  display: flex;
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translate(50px);
  }
  to{
      opacity: 1;
      transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}